== <!DOCTYPE html>
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %title
      = page_title

    /[if IE]
      = javascript_include_tag('html5')

    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'

    = stylesheet_link_tag "/javascripts/compiled/dijit/themes/nihilo/nihilo.css"
    %style
      :sass
        .dj_gecko
          .dijitToolbar
            .dijitButtonNode::-moz-focus-inner
              :padding 0

    %script
      = render :partial => 'layouts/dojo_config.js'
    = javascript_include_tag 'compiled/dojo/dojo.js'

    = yield :javascripts
    = yield :stylesheets

  %body.nihilo
    #container
      %header#header
        %h1
          %a{ :href => '/' }
            = page_title
        %nav#user-navigation
          %ul
            - if current_user
              - navitems do |tab|
                = tab.logout logout_path, {:class => 'first logout'}
            - else
              - navitems do |tab|
                = tab.register new_account_path, {:class => 'first'}
                = tab.login login_path, {:class => 'login'}
          .clear
        %nav#main-navigation
          %ul
            - navitems do |tab|
              = tab.main_page root_path, {:class => 'first'}
              = tab.my_account account_path
          .clear
      #wrapper
        %section#main
          = yield
          %footer#footer
            .block
              %p
                = copyright_text
        %aside#sidebar
          = yield :sidebar
